# Ignore everything
*

# But not these files...
!.gitignore
!.htaccess
!wp-config.php

!web/wp-content/plugins/bp-custom.php
!web/wp-content/themes/kleo/lib/metaboxes.php
!web/wp-content/themes/kleo-child/functions.php
!web/wp-content/themes/kleo-child/style.css

!custom/*
!custom/pages/*
!custom/revolution_slider/*

# bp-checkin plugin - fix the compatible issue with the latest version(2.3.2) of buddypress
!web/wp-content/plugins/bp-checkins/includes/bp-checkins-component.php
!web/wp-content/plugins/bp-checkins/includes/bp-checkins-group-class.php
!web/wp-content/plugins/bp-checkins/includes/bp-checkins-places-class.php
!web/wp-content/plugins/bp-checkins/includes/bp-checkins-places-widget.php

### them translation
!web/wp-content/languages/themes/kleo_framework-zh_CN.mo
!web/wp-content/languages/themes/kleo_framework-zh_CN.po

### plugin translation
# rtMedia
!web/wp-content/plugins/buddypress-media/languages/rtmedia-zh_CN.mo
!web/wp-content/plugins/buddypress-media/languages/rtmedia-zh_CN.po
# bp-follow
!web/wp-content/plugins/buddypress-followers/languages/bp-follow-zh_CN.mo
!web/wp-content/plugins/buddypress-followers/languages/bp-follow-zh_CN.po
# bp cover photo
!web/wp-content/languages/plugins/bpcp-zh_CN.mo
!web/wp-content/languages/plugins/bpcp-zh_CN.po
#bp profile search
!web/wp-content/languages/plugins/bps-zh_CN.mo
!web/wp-content/languages/plugins/bps-zh_CN.po
#buddypress
!web/wp-content/languages/plugins/buddypress-zh_CN.mo
!web/wp-content/languages/plugins/buddypress-zh_CN.po
# fix the translation issue in group pagination
!web/wp-content/plugins/buddypress/bp-groups/bp-groups-template.php

# even if they are in subdirectories
!*/

# unnecessary files
web/wp-content/plugins/admin-menu-editor/includes/.htaccess
web/wp-content/plugins/bp-custom.php
web/wp-content/plugins/buddypress-media/app/assets/sass/bower_components/jquery/.gitignore
web/wp-content/plugins/updraftplus/oc/psr/log/.gitignore
web/wp-content/plugins/updraftplus/oc/symed/Symfony/Component/EventDispatcher/.gitignore
web/wp-content/plugins/wordfence/lib/.htaccess
web/wp-content/plugins/wordfence/tmp/.htaccess
web/wp-content/plugins/wp-spamshield/.htaccess
web/wp-content/plugins/wp-spamshield/js/.htaccess
web/wp-content/plugins/wp-spamshield/lib/sec/.htaccess
web/wp-content/updraft/.htaccess

# PhpStorm
.idea/*

# Windows

# Windows image file caches
Thumbs.db